.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

mat-card {
  padding: 20px;
  text-align: center;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
}

button {
  margin: 5px;
}
